$primaryYellow: #ecbd25;
$primaryBlack: #171717;
$primaryWhite: #f2e9e9;

$breakpoint: (
	mobileM: 375px,
	mobile: 425px,
	tablet: 768px,
	desktop: 1024px,
	large: 1200px
);

@mixin mq($key) {
	@media (max-width: map-get($breakpoint, $key)) {
		@content;
	}
}

.app {
	min-height: 100vh;

	.main {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		justify-content: center;
		background-color: $primaryYellow;
		background-image: url('../assets/noise.svg');
		background-repeat: no-repeat;
		background-size: cover;

		&__title {
			height: 7rem;
			width: 32rem;
			position: relative;

			h1 {
				position: absolute;
				font-family: 'Wintter';
				font-size: 8.3rem;
			}

			&--white {
				color: $primaryWhite;
				top: 0;
				left: 0;
			}

			&--black {
				color: $primaryBlack;
				top: 7px;
				left: -6px;
			}
		}

		&__counter {
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 2.5rem;
			color: $primaryBlack;
		}

		&__buttons {
			display: flex;
			gap: 1rem;
		}

		@include mq('tablet') {
			&__title {
				height: 7rem;
				width: 27rem;
				position: relative;
			}

			h1 {
				position: absolute;
				font-family: 'Wintter';
				font-size: 7rem;
			}

			&__counter {
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 1.9rem;
				color: #171717;
			}
		}

		@include mq('mobile') {
			&__title {
				height: 7rem;
				width: 23rem;
				position: relative;
			}

			h1 {
				position: absolute;
				font-family: 'Wintter';
				font-size: 6rem;
			}

			&__counter {
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 1.1rem;
				color: #171717;
			}
		}

		@include mq('mobileM') {
			&__title {
				height: 7rem;
				width: 19rem;
				position: relative;
			}

			h1 {
				position: absolute;
				font-family: 'Wintter';
				font-size: 5rem;
			}

			&__counter {
				margin-top: 0.5rem;
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 1rem;
				color: #171717;
			}
		}
	}
}
